* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  width: 100%;
  height: 90px;
}
.header .nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  cursor: context-menu;
}
.header .nav .logo > img {
  width: 50px;
}
.header .nav .logo > h2 {
  font-size: 25px;
  color: var(--yozuv-rangi);
}
.header .nav > .center-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav > .center-nav > ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  list-style-type: none;
}
.header .nav > .center-nav > ul > li > a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}
.header .nav > .center-nav > ul > li:nth-child(1) a {
  color: black;
}
.header .nav > .center-nav > ul > li:hover > a {
  color: black;
}
.header .nav > .center-nav > .bar {
  width: 42px;
  height: 42px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.4s;
}
.header .nav > .center-nav > .bar:hover {
  background-color: var(--card-back);
}
.header .nav > .center-nav > .bar:active {
  transition: 150ms;
  transform: scale(0.6);
}
.header .nav > .center-nav > .bar > i {
  font-size: 22px;
}
.header .nav > .center-nav > .main-bar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header .nav > button {
  padding: 9px 27px;
  background-color: var(--main-color);
  border-radius: 17px;
  border: none;
  color: #fff;
  font-weight: 500;
  background: linear-gradient(0deg, rgb(30, 64, 255), rgb(0, 149, 255));
  cursor: pointer;
  transition: 0.3s;
}
.header .nav > button:hover {
  transform: scale(1.07);
  background: linear-gradient(0deg, rgb(0, 149, 255), rgb(30, 64, 255));
}
.header .nav > button:active {
  transform: scale(0.8);
}

/*  Loader  */
.loader {
  position: fixed;
  background-color: #0f2026;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader > img {
  width: 250px;
  height: 250px;
  transform: scale(1.8);
  -o-object-fit: cover;
     object-fit: cover;
}
.loader > h3 {
  z-index: 1;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 400;
}

.loader-none {
  display: none;
}

.provide {
  height: 660px;
  width: 100%;
}
.provide .provide-delivery {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}
.provide .provide-delivery .provide-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 50px;
}
.provide .provide-delivery .provide-left > .provide-title {
  font-size: 63px;
  text-transform: capitalize;
  color: var(--yozuv-rangi);
}
.provide .provide-delivery .provide-left > p {
  margin: 15px 0;
  font-size: 17px;
  color: rgb(33, 33, 33);
}
.provide .provide-delivery .provide-left > label {
  width: 320px;
  height: 45px;
  border-radius: 32px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.588);
}
.provide .provide-delivery .provide-left > label > input {
  border: none;
  outline: none;
  padding: 0 5px;
  margin-left: 12px;
}
.provide .provide-delivery .provide-left > label > button {
  border: none;
  background: linear-gradient(0deg, rgb(30, 64, 255), rgb(0, 149, 255));
  color: #fff;
  cursor: pointer;
  padding: 6px 5px;
  padding-left: 12px;
  border-radius: 30px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  font-weight: 500;
  transition: 0.4s;
}
.provide .provide-delivery .provide-left > label > button:hover {
  background: linear-gradient(0deg, rgb(0, 149, 255), rgb(30, 64, 255));
}
.provide .provide-delivery .provide-left > label > button:active {
  transform: scale(0.7);
}
.provide .provide-delivery .provide-left > label > button > i {
  background-color: #fff;
  color: var(--main-color);
  font-size: 16px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.provide .provide-delivery .provide-right {
  width: 50%;
  height: 100%;
}
.provide .provide-delivery .provide-right > img {
  width: 90%;
  min-width: 350px;
  margin: auto;
}

.dishes {
  width: 100%;
  height: 430px;
}
.dishes .dishes-order {
  height: 100%;
}
.dishes .dishes-order > h2 {
  width: 75%;
  text-align: center;
  margin: auto;
  height: 120px;
  font-size: 50px;
  color: var(--yozuv-rangi);
  cursor: context-menu;
}
.dishes .dishes-order > p {
  height: 30px;
  color: rgba(47, 47, 47, 0.8352941176);
  margin-bottom: 12px;
  cursor: context-menu;
}
.dishes .dishes-order .cards {
  height: calc(100% - 120px - 30px - 12px - 60px);
  width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 200px);
  gap: 17px;
}
.dishes .dishes-order .cards .card {
  background: linear-gradient(-45deg, rgba(209, 251, 255, 0.353), rgba(103, 182, 255, 0.534));
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-transform: uppercase;
  font-weight: 500;
}
.dishes .dishes-order .cards .card:hover {
  background: linear-gradient(-45deg, rgba(85, 167, 255, 0.529), rgba(39, 151, 255, 0.73));
  cursor: pointer;
  transform: scale(1.1);
  color: #fff;
}
.dishes .dishes-order .cards .card .image {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dishes .dishes-order .cards .card .image img {
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.dishes .dishes-order .dishes-btns {
  width: 900px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  gap: 5px;
}
.dishes .dishes-order .dishes-btns > div {
  background-color: var(--card-back);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}
.dishes .dishes-order .dishes-btns > div:first-child {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background: linear-gradient(0deg, rgb(182, 182, 182), rgb(255, 255, 255));
}
.dishes .dishes-order .dishes-btns > div:first-child:hover {
  transform: scale(1.1);
}
.dishes .dishes-order .dishes-btns > div:last-child {
  color: #fff;
  background: linear-gradient(0deg, rgb(30, 64, 255), rgb(0, 149, 255));
}
.dishes .dishes-order .dishes-btns > div:last-child:hover {
  transform: scale(1.1);
}

.popular {
  height: 720px;
}
.popular .popular-dishes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular .popular-dishes > h2 {
  color: var(--yozuv-rangi);
  font-size: 35px;
  text-align: center;
}
.popular .popular-dishes > p {
  margin: 9px 0;
  width: 60%;
  text-align: center;
  color: rgb(82, 82, 82);
}
.popular .popular-dishes .popular-cards {
  width: 624px;
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(2, 230px);
  gap: 30px;
  padding: 12px;
}
.popular .popular-dishes .popular-cards .popular-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 12px;
  cursor: context-menu;
}
.popular .popular-dishes .popular-cards .popular-card:hover {
  background: linear-gradient(-45deg, rgba(209, 251, 255, 0.353), rgba(103, 182, 255, 0.534));
}
.popular .popular-dishes .popular-cards .popular-card:nth-child(2) > .popular-image > img {
  width: 135px;
}
.popular .popular-dishes .popular-cards .popular-card:nth-child(5) > .popular-image > img {
  width: 135px;
}
.popular .popular-dishes .popular-cards .popular-card .popular-image {
  border-radius: 12px;
  height: 60%;
}
.popular .popular-dishes .popular-cards .popular-card .popular-image img {
  width: 105px;
  height: 105px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.popular .popular-dishes .popular-cards .popular-card > p {
  width: 60%;
  height: 50px;
  margin: auto;
  text-align: center;
}
.popular .popular-dishes .popular-cards .popular-card .popular-price {
  height: calc(40% - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.popular .popular-dishes .popular-cards .popular-card .popular-price > b {
  font-size: 14px;
}
.popular .popular-dishes .popular-cards .popular-card .popular-price > span {
  width: 15px;
  height: 15px;
  transition: 0.4s;
}
.popular .popular-dishes .popular-cards .popular-card .popular-price > span:active {
  transform: scale(0.7);
}
.popular .popular-dishes .popular-cards .popular-card .popular-price > span > i {
  font-size: 20px;
  color: dodgerblue;
  cursor: pointer;
}
.popular .popular-dishes .popular-cards .popular-card .popular-price > span > i:hover {
  color: rgb(106, 181, 255);
}
.popular .popular-dishes .popular-btn > button {
  margin: 5px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: none;
  background: linear-gradient(0deg, rgb(30, 64, 255), rgb(0, 149, 255));
  color: #fff;
  cursor: pointer;
  padding: 6px 5px;
  padding-left: 12px;
  border-radius: 30px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  font-weight: 500;
  transition: 0.4s;
}
.popular .popular-dishes .popular-btn > button:hover {
  transform: scale(1.1);
}
.popular .popular-dishes .popular-btn > button:hover {
  background: linear-gradient(0deg, rgb(0, 149, 255), rgb(30, 64, 255));
}
.popular .popular-dishes .popular-btn > button:active {
  transform: scale(0.7);
}
.popular .popular-dishes .popular-btn > button > i {
  width: 23px;
  height: 23px;
  background: linear-gradient(-45deg, white, rgb(225, 246, 255));
  border-radius: 50%;
  color: var(--main-color);
}

.urtaga-olish, .provide .provide-delivery .provide-left > label > button > i, .provide .provide-delivery .provide-right, .dishes, .dishes .dishes-order > h2, .dishes .dishes-order > p, .dishes .dishes-order .cards .card .image, .dishes .dishes-order .dishes-btns > div, .popular .popular-dishes .popular-cards .popular-card .popular-image, .popular .popular-dishes .popular-cards .popular-card .popular-price > span, .popular .popular-dishes .popular-btn > button > i {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --main-color: #3075ef;
  --card-back: #eaf0fe;
  --card-back-hover: #83b2fe;
  --yozuv-rangi: #2f2c48;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .provide .provide-delivery .provide-left .provide-title {
    font-size: 50px;
  }
  .dishes {
    height: 630px;
  }
  .dishes .dishes-order .cards {
    width: 574px;
    height: 417px;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(2, 200px);
  }
  .dishes .dishes-order .dishes-btns {
    width: 574px;
  }
}
@media (max-width: 900px) {
  .header .nav > button {
    display: none;
  }
  .header .nav > .center-nav .main-bar:checked + ul {
    right: 5%;
  }
  .header .nav > .center-nav .bar {
    display: flex;
  }
  .header .nav > .center-nav > ul {
    position: fixed;
    transition: 1s;
    right: -100%;
    top: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
    padding: 10px;
    gap: 9px;
  }
  .header .nav > .center-nav > ul > li {
    background-color: rgba(128, 128, 128, 0.536);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--card-back);
    box-shadow: var(--main-color) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.4s;
  }
  .header .nav > .center-nav > ul > li > a {
    color: black;
  }
  .header .nav > .center-nav > ul > li:hover {
    background-color: var(--card-back-hover);
    transform: scale(1.04);
  }
  .provide {
    height: 700px;
  }
  .provide > .provide-delivery {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .provide > .provide-delivery > .provide-left {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .provide > .provide-delivery > .provide-left .provide-title {
    font-size: 40px;
  }
  .provide > .provide-delivery > .provide-right {
    width: 100%;
  }
  .provide > .provide-delivery > .provide-right > img {
    max-width: 600px;
    min-width: 300px;
  }
  .dishes {
    height: 1070px;
  }
  .dishes .dishes-order > h2 {
    font-size: 35px;
  }
  .dishes .dishes-order > p {
    font-size: 14px;
  }
  .dishes .dishes-order .cards {
    width: 457px;
    height: 844px;
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(2, 270px);
  }
  .dishes .dishes-order .dishes-btns {
    width: 457px;
  }
}
@media (max-width: 600px) {
  .provide {
    height: 650px;
  }
  .provide .provide-delivery .provide-left .provide-title {
    font-size: 30px;
  }
  .provide .provide-delivery .provide-left > p {
    font-size: 13px;
  }
  .dishes {
    height: 740px;
  }
  .dishes .dishes-order > h2 {
    font-size: 25px;
    height: 80px;
  }
  .dishes .dishes-order > p {
    font-size: 13px;
  }
  .dishes .dishes-order .cards {
    width: 377px;
    height: 544px;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(3, 170px);
  }
  .dishes .dishes-order .dishes-btns {
    width: 457px;
  }
}/*# sourceMappingURL=asosiy.css.map */