.provide {
    height: 660px;
    width: 100%;

    .provide-delivery {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 22px;

        .provide-left {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-right: 50px;

            &>.provide-title {
                font-size: 63px;
                text-transform: capitalize;
                color: var(--yozuv-rangi);
            }

            &>p {
                margin: 15px 0;
                font-size: 17px;
                color: rgb(33, 33, 33);
            }

            &>label {
                width: 320px;
                height: 45px;
                border-radius: 32px;
                display: flex;
                background-color: #fff;
                justify-content: space-between;
                align-items: center;
                border: 1px solid rgba(128, 128, 128, 0.588);

                &>input {
                    border: none;
                    outline: none;
                    padding: 0 5px;
                    margin-left: 12px;
                }

                &>button {
                    @include button-2();

                    &>i {
                        background-color: #fff;
                        color: var(--main-color);
                        font-size: 16px;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        @extend .urtaga-olish;
                    }
                }
            }
        }

        .provide-right {
            width: 50%;
            height: 100%;
            @extend .urtaga-olish;

            &>img {
                width: 90%;
                min-width: 350px;
                margin: auto;
            }
        }
    }
}