@mixin button-1($padding){
    padding: $padding;
    background-color: var(--main-color);
    border-radius: 17px;
    border: none;
    color: #fff;
    font-weight: 500;
    background:linear-gradient(0deg, rgb(30, 64, 255), rgb(0, 149, 255));
}

@mixin button-2(){
    border: none;
    background:linear-gradient(0deg, rgb(30, 64, 255), rgb(0, 149, 255));
    color: #fff;
    cursor: pointer;
    padding: 6px 5px;
    padding-left: 12px;
    border-radius: 30px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    font-weight: 500;
    transition: 0.4s;

    &:hover {
        background:linear-gradient(0deg, rgb(0, 149, 255), rgb(30, 64, 255));
    }
    &:active {
        transform: scale(0.7);
    }
}