// Desktop
@media (max-width: 1200px){
    .container {
        width: 90%;
        margin: auto;
    }

    .provide {

        .provide-delivery {

            .provide-left {

                .provide-title {
                    font-size: 50px;
                }
            }
        }
    }

    .dishes {
        height: 630px;

        .dishes-order{

            .cards {
                width: calc(3*180px + 2*17px);
                height: calc(2*200px + 17px);
                grid-template-columns: repeat(3, 180px);
                grid-template-rows: repeat(2, 200px);
            }

            .dishes-btns {
                width:  calc(3*180px + 2*17px);
            }
        }
    }

    .delicious {
        height: 500px;

        .delicious-healthy {

            .delicious-right {
                &>h2 {
                    font-size: 39px;
                }
                &>p {
                    font-size: 14px;
                }
                &>ul {
                    font-size: 14px;
                }
            }
        }
    }
}


// Tablet
@media (max-width: 900px){

    .header {

        .nav {
            &>button {
                display: none;
            }

            &>.center-nav {
                .main-bar:checked + ul {
                    right: 5%;
                }

                .bar {
                    display: flex;
                }
    
                &>ul {
                    position: fixed;
                    transition: 1s;
                    right: -100%;
                    top: 70px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 300px;
                    height: 300px;
                    padding: 10px;
                    gap: 9px;
    
                    &>li {
                        background-color: rgba(128, 128, 128, 0.536);
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 0;
                        border-radius: 3px;
                        cursor: pointer;
                        background-color: var(--card-back);
                        box-shadow: var(--main-color) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                        transition: 0.4s;
    
                        &>a {
                            color: black;
                        }
                    }
    
                    &>li:hover{
                        background-color: var(--card-back-hover);
                        transform: scale(1.04);
                    }
                }
            }
        }
    }

    .provide {
        height: 700px;

        &>.provide-delivery {
            flex-direction: column-reverse;
            gap: 0px;

            &>.provide-left {
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;

                .provide-title {
                    font-size: 40px;
                }
            }

            &>.provide-right {
                width: 100%;

                &>img {
                    max-width: 600px;
                    min-width: 300px;
                }
            }
        }
    }

    .dishes {
        height: calc(630px + 2*270px - 100px);

        .dishes-order{
            &>h2 {
                font-size: 35px;
            }
            &>p {
                font-size: 14px;
            }

            .cards {
                width: calc(2*220px + 17px);
                height: calc(3*270px + 2*17px);
                grid-template-columns: repeat(2, 220px);
                grid-template-rows: repeat(2, 270px);
            }

            .dishes-btns {
                width:  calc(2*220px + 17px);
            }
        }
    }

    .popular {
        height: calc(720px + 230px);

        .popular-dishes {
            &>h2 {
                font-size: 30px;
            }
            &>p {
                font-size: 14px;
            }

            .popular-cards {
                width: calc(2*220px + 30px + 24px);
                grid-template-columns: repeat(2, 220px);
                grid-template-rows: repeat(3, 230px);
            }
        }
    }

    .delicious {
        height: 630px;

        .delicious-healthy {
            flex-direction: column;
            gap: 0px;

            .delicious-left {

                &>img {
                    width: 330px;
                }
            }

            .delicious-right {
                width: 100%;

                &>h2 {
                    font-size: 27px;
                }
                &>p {
                    font-size: 12px;
                    width: 60%;
                }
                &>ul {
                    font-size: 12px;
                    width: 60%;
                }

                .delicious-btn {
                    width: 60%;
                    justify-content: center;
                }
            }
        }
    }
}


// Mobile
@media (max-width: 600px) {
    .provide {
        height: 650px;

        .provide-delivery {

            .provide-left {

                .provide-title {
                    font-size: 30px;
                }
                &>p {
                    font-size: 13px;
                }
            }
        }
    }

    .dishes {
        height: calc(630px + 110px);

        .dishes-order{

            &>h2 {
                font-size: 25px;
                height: 80px;
            }
            &>p {
                font-size: 13px;
            }

            .cards {
                width: calc(2*180px + 17px);
                height: calc(3*170px + 2*17px);
                grid-template-columns: repeat(2, 180px);
                grid-template-rows: repeat(3, 170px);
            }

            .dishes-btns {
                width:  calc(2*180px + 2*17px);
            }
        }
    }

    .popular {
        height: calc(720px + 230px);

        .popular-dishes {
            
            &>h2 {
                font-size: 22px;
            }
            &>p {
                font-size: 12px;
            }

            .popular-cards {
                width: calc(2*180px + 30px + 24px);
                grid-template-columns: repeat(2, 180px);
                grid-template-rows: repeat(3, 200px);

                .popular-card {
                    
                    .popular-image {
                        &>img {
                            width: 85px;
                            height: 85px;
                        }
                    }

                    &>p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .delicious {
        height: 550px;

        .delicious-healthy {
            flex-direction: column;
            gap: 0px;

            .delicious-left {

                &>img {
                    width: 270px;
                    height: 270px;
                    object-fit: cover;
                }
            }

            .delicious-right {
                width: 100%;

                &>h2 {
                    font-size: 18px;
                }
                &>p {
                    font-size: 8px;
                    width: 60%;
                }
                &>ul {
                    font-size: 8px;
                    width: 60%;
                }

                .delicious-btn {
                    width: 60%;
                    justify-content: center;
                }
            }
        }
    }
}
